<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        #addContactForm{
            width: 400px;
            margin: auto;
            margin-top: 100px;
        }
        .input{
            float: right;
        }
        
    </style>
</head>
<body>
    <div id="addContactForm">
               
        <form class="editFrom" action=""  method="POST">
            {% csrf_token %}
            <p><b>Edit  contact</b></p>
          
              <div class="form-group">
                <label for="firstname">First Name</label>
               <p class="input"> {{form.fname}}</p>
              </div>
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <p class="input"> {{form.lname}}</p>
              </div>
       
            <div class="form-group">
              <label for="email">Email</label>
              <p class="input"> {{form.email}}</p>
            </div>
            <div class="form-group">
              <label for="phonenuber">Phone NUmmber </label>
              <p class="input"> {{form.phoneNumber}}</p>
            </div>
            <hr>
            <center><button type="submit" class="btn btn-primary ">Save</button></center>
            

          </form>
   

</body>
</html>